main {
     min-height: 0;
}
#contactsPage{
    position: relative;
    overflow: hidden;
    padding-bottom: 1em;
}

#contactsPage #theMap{
    position: absolute;
    left: -410px;
    width: calc(100% + 410px);
    height: 727px;
    background: #ddd;
    top: 190px;
}

#contactsPage #rotatedBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 2500px;
    height: 2500px;
    background: #fefefe;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translate(-10%, -82%) rotate(4deg);
    overflow: hidden;
}

#contactsPage #rotatedBg .image{
    position: absolute;
    bottom: 0;
    width: 3000px;
    height: 3000px;
    background-size: 2000px;
    /*background-position: center;*/
    transform: rotate(-10deg) translate(-10%, 30%)
}

#contactsPage #rotatedBg .scrim{
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px;
    height: 3000px;
    background: rgba(228, 229, 224, 0.9);
}

#contactWrapper{
    max-width: 1100px;
    margin: auto;
    padding-top: 12em;
}

#coolForm{
    position: relative;
    margin-left: auto;
    margin-bottom: 6em;
    transition: all 0.35s;
}

#contactBox > div:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 180px;
    height: 180px;
    background: #fdfdfd;
    background: rgba(0,0,0,0.03);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    animation-duration: 0.4s;
}

#contactBox > div.roll-it:before{
    opacity: 1;
    animation-name: ripple;
}

@keyframes ripple{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(5);
    }
}

#coolForm .toggler{
    content: "";
    position: absolute;
    top: 40px;
    right: -35px;
    width: 35px;
    background: #4a4a4a;
    color: #999;
    display: block;
}

#coolForm .toggler button{
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    color: #999;
    margin: 16px auto;
    padding: 12px;
    pointer-events: none;
}

#coolForm .toggler span{
    display: inline-block;
    font-size: 11px;
    transition: all 0.25s ease-out;
    /*color: #f9f9f9;*/
}

#coolForm.show-contacts .for-chat,
#coolForm.show-chat .for-contact{
    pointer-events: auto;
    cursor: pointer;
}

#coolForm.show-contacts .for-contact span,
#coolForm.show-chat .for-chat span{
    transform: scale(1.3);
    color: #ff427d;
}

#coolForm #contactBox{
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    border-radius: 3px;
}

#socialLinks{
    position: absolute;
    right: 40px;
    top: 95px;
    z-index: 1;
}

#socialLinks a{
    min-width: 35px;
    padding: 5px 8px;
    margin-left: 5px;
    color: #999;
}

#socialLinks a{
    font-size: 22px;
}

#coolForm #contactBox h1{
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 16px;
    position: relative;
    /*background: #f0f0f0;*/
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eee;
    margin-right: 40px;
}

#coolForm #contactBox h1 .fa{
    position: absolute;
    top: 10px;
    left: -5px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 96px;
    padding-left: 60px;
    padding-right: 38px;
    color: #999;
    transform: translateY(-20px) rotate(-15deg);
    background: #fff;
}

#coolForm #contactBox h1 span{
    color: #999;
    font-family: "Raleway Bold", sans-serif;
    position: relative;
    font-size: 38px;
    display: block;
    margin-left: 70px;
    z-index: 1;
    text-align: right;
    width: calc(100% - 40px);
}

#contactsSub{
    padding-top: 15px;
    width: 380px;
    min-height: 430px;
}

#contactsSub #socialLinks{
    margin-top: 12px;
}

#coolForm:not(.show-contacts) #contactsSub{
    position: absolute;
    pointer-events: none;
    transition: none;
}

#contactsSub .sub-content{
    transition: opacity 0.35s ease-out 0.05s;
}

#coolForm:not(.show-contacts) #contactsSub .sub-content{
    opacity: 0;
    transition: none;
}

#address{
    display: block;
    font-family: "Raleway Regular", sans-serif;
    font-size: 20px;
    line-height: 35px;
    padding: 60px 45px;
    padding-bottom: 40px;
}

#chatSub{
    padding-top: 10px;
    width: 460px;
}

#coolForm:not(.show-chat) #chatSub{
    position: absolute;
    pointer-events: none;
    transition: none;
}

#chatSub .sub-content{
    transition: opacity 0.35s ease-out 0.05s;
}

#coolForm:not(.show-chat) #chatSub .sub-content{
    opacity: 0;
    transition: none;
}

#chatSub h1 .fa{
    padding-top: 10px !important;
    padding-right: 55px !important;
    padding-bottom: 60px !important;
    padding-left: 70px !important;
    font-size: 96px !important;
    /*left: 20px !important;*/
    transform: rotate(12deg) !important;
}

#chatSub .social-link{
    margin-top: 10px;
    font-size: 14px !important;
    z-index: 1;
    color: #444 !important;
}

#chatForm{
    padding: 85px 35px;
    padding-bottom: 50px !important;
}

.input-group{
    position: relative;
    margin-bottom: 38px;
}

#chatForm > .input-group{
    margin-bottom: 24px;
}

.input-group input,
.input-group textarea{
    width: 100%;
    font-size: 18px;
    resize: none;
    padding: 10px 8px;
    border: none;
    border-bottom: 1px solid transparent;
    background: #f9f9f9;
    /*border-radius: 3px;*/
    outline: none;
}

.input-group input:focus,
.input-group textarea:focus{
    border-bottom-color: #ddd;
}

.input-group label{
    position: absolute;
    left: 0;
    top: -19px;
    bottom: 0;
    height: 40px;
    width: 100%;
    pointer-events: none;
    font-size: 14px;
}

.submit-btn{
    width: 100%;
    background: #c00042;
    color: #fff;
    padding: 16px 12px;
    font-size: 18px;
    border-radius: 3px;
    border: none;
}


/*MEDIA QUERIES*/
@media all and (min-width: 451px){
    #mobContactsWrapper{
        display: none;
    }
}

@media all and (max-width: 450px){
    body{
        background: #fcfcfc;
    }
    #contactsPage{
        position: relative;
        overflow: hidden;
        padding-bottom: 1em;
        min-height: 80vh;
    }

    #contactsPage #theMap{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: #ddd;
    }

    #contactsPage #rotatedBg{
        display: none;
    }

    #contactWrapper{
        display: none;
        max-width: 1100px;
        margin: auto;
        padding: 0 6em;
        padding-top: 12em;
    }

    #coolForm{
        position: relative;
        margin-left: auto;
        margin-bottom: 6em;
        transition: all 0.35s;
    }

    #contactBox > div:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        width: 180px;
        height: 180px;
        background: #fdfdfd;
        background: rgba(0,0,0,0.03);
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        animation-duration: 0.4s;
    }

    #contactBox > div.roll-it:before{
        opacity: 1;
        animation-name: ripple;
    }

    .mobContactCard{
        padding: 20px;
        margin: 0 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 6px rgba(0,0,0,0.1);
        background: #fff;
    }

    #mobContactForm{
        margin: 8px 0;
    }
}