.logo-text {
  color: #FF69B4; 
  font-weight: bold;
}

.nav-title {
  color: #FFF !important;
  font-size: 100% !important;
  font-weight: bold !important;
}

.card, .card-title{
  /*font-weight: bold !important;*/
}

.card-body > p {
  font-weight: bold !important;
  color: #f0ad4e;
  /*color: #ffc107;*/
}

.dropdown-menu {
  padding: 0;
}